# Docker desarrollo
DOCKER_DEV_NAME=sanciones-backend-dev
DOCKER_DEV_DJANGO_PORT=8000
DOCKER_DEV_POSTGRES_PORT=5432

# Conexión PostgreSQL
POSTGRES_DB=sanciones
POSTGRES_USER=sanciones
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Django
SECRET_KEY=django-insecure-ojju@7z-3(olyqq9_fu5r(-+oi3y&6f0l3f9ur*^c=cwstkv#y
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,10.15.10.38
